@chrset"utf-8";
*{
	margin:0;
	padding:0;
}
body{
	font-family:'noto-sans-cjk-kr', sans-serif;
	font-size:12px;
	line-height:20px;
	color:#000;
	min-width:1200px;
}
ul, ol{
	list-style-type:none;
}
a{ 
	text-decoration:none;
	color:#000;
}
hr{
	clear:both;
	border:0;
}
.roboto{
	font-family:'roboto', sans-serif;
}
.dan_scr{
	font-family:'dancing script', cursive;
}
.top{
	height:600px;
	background-image:url(../images/sub/product/banner/banner.jpg);
	background-repeat:no-repeat;
	background-position:center;
}
#header_wrap{
	height:80px;
	background-color:rgba(0,0,0,0.4);
}
.header{
	width:1200px;
	margin:0 auto;
}
.header h1{
	float:left;
	margin:8px 0 0 90px;
}
.gnb{
	float:right;
}
.gnb> li{
	float:left;
}
.gnb> li:nth-child(4){
	margin-right:40px;
}
.gnb> li> a{
	display:block;
	font-size:16px;
	font-weight:300;
	font-family:'roboto', sans-serif;
	color:#fff;
	padding:14px 0 14px;
	margin:32px 40px 0 40px;
	box-sizing:border-box;
	position:relative;
}
.gnb> li> a::after{
	content:'';
	position:absolute;
	bottom:0;
	width:0;
	height:2px;
	background:#e0b8e1;
	left:50%;
}
.gnb> li> a:hover::after{
	width:100%;
	left:0;
	transition:all .3s;
}
.gnb> li> a:hover{
	color:#e0b8e1;
}
.submenu_wrap{
	width:100%;
	height:240px;
	position:absolute;
	top:80px;
	left:0;
	display:none;
	z-index:999;
}
.bgDepth { display:none; position:absolute; top:80px; left:0; right:0; height:240px; background:rgba(0,0,0,0.4);}
.submenu{
	width:1200px;
	margin:0 auto;
	padding-top:20px;
}
.submenu_img{
	float:left;
}
.submenu ul{
	width:527px;
	float:left;
	text-align:center;
	padding-top:40px;
}
.submenu ul li a{
	color:#fff;
	font-size:18px;
}
.submenu ul li a:hover{
	color:#e0b8e1;
}
.submenu ul li:nth-child(2){
	padding:30px 0;
}
.banner{
	width:1200px;
	margin:0 auto;
	text-align:center;
	padding-top:250px;
	color:#fff;
	font-size:60px;
	display:block;
	cursor:default;
}
.ban_span:hover{
	color:#d984ad;
	transition:all 0.5s;
}
#section_wrap{
	height:2410px;
	background-image:url(../images/sub/product/section/background.png);
	background-repeat:no-repeat;
	background-position:center;
}
.section{
	width:1200px;
	padding:150px 0;
	margin:0 auto;
	text-align:center;
	position:relative;
}
.subtitle{
	padding-bottom:30px;
}
.product_box{
	overflow:auto;
	padding-bottom:100px;
}
.font_box_right{
	width:592px;
	float:right;
	height:608px;
	padding-top:30px;
	box-sizing:border-box;
	opacity:0;
    margin-top:30px;
    max-width:100%;
}
.font_box_left{
	width:592px;
	float:left;
	height:608px;
	padding-top:30px;
	box-sizing:border-box;
	opacity:0;
    margin-top:30px;
    max-width:100%;
}
.color_font1{
	font-size:28px;
	font-weight:700;
	padding:30px 0;
	letter-spacing:-1px;
}
.color_font2{
	font-size:14px;
	line-height:24px;
	padding-bottom:30px;
}
.color_font3{
	text-align:left;
	font-size:16px;
	margin-left:360px;
	letter-spacing:-1px;
}
.color_font3:hover .arrow{
	margin-left:5px;
	transition:all 0.3s;
}
.color_32{
	width:608px;
	height:608px;
	padding-top:40px;
	box-sizing:border-box;
	position:absolute;
	top:222px;
	left:0;
}
.col32_size{
	width:38px;
	height:38px;
}
.color_32_1{
	background-color:rgba(215,207,64,0.3);
}
.color_32_2{
	background-color:rgba(221,208,16,0.3);
}
.color_32_3{
	background-color:rgba(214,175,18,0.3);
}
.color_32_4{
	background-color:rgba(232,129,29,0.3);
}
.color_32_5{
	background-color:rgba(232,120,28,0.3);
}
.color_32_6{
	background-color:rgba(224,76,26,0.3);
}
.color_32_7{
	background-color:rgba(196,53,33,0.3);
}
.color_32_8{
	background-color:rgba(155,50,42,0.3);
}
.color_32_9{
	background-color:rgba(167,67,63,0.3);
}
.color_32_10{
	background-color:rgba(105,47,45,0.3);
}
.color_32_11{
	background-color:rgba(149,124,34,0.3);
}
.color_32_12{
	background-color:rgba(111,180,60,0.3);
}
.color_32_13{
	background-color:rgba(110,105,37,0.3);
}
.color_32_14{
	background-color:rgba(65,98,47,0.3);
}
.color_32_15{
	background-color:rgba(51,101,50,0.3);
}
.color_32_16{
	background-color:rgba(59,113,63,0.3);
}
.color_32_17{
	background-color:rgba(44,39,45,0.3);
}
.color_32_18{
	background-color:rgba(37,51,86,0.3);
}
.color_32_19{
	background-color:rgba(56,54,180,0.3);
}
.color_32_20{
	background-color:rgba(53,54,111,0.3);
}
.color_32_21{
	background-color:rgba(46,59,160,0.3);
}
.color_32_22{
	background-color:rgba(61,114,211,0.3);
}
.color_32_23{
	background-color:rgba(163,123,43,0.3);
}
.color_32_24{
	background-color:rgba(111,50,32,0.3);
}
.color_32_25{
	background-color:rgba(116,49,34,0.3);
}
.color_32_26{
	background-color:rgba(150,64,37,0.3);
}
.color_32_27{
	background-color:rgba(110,63,42,0.3);
}
.color_32_28{
	background-color:rgba(91,61,48,0.3);
}
.color_32_29{
	background-color:rgba(56,42,39,0.3);
}
.color_32_30{
	background-color:rgba(42,37,34,0.3);
}
.color_32_31{
	background-color:rgba(66,43,131,0.3);
}
.color_32_32{
	background-color:rgba(217,77,135,0.3);
}
.col32_1{
	position:absolute;
	top:754px;
	left:0;
	background-color:#d7cf40;
	z-index:999;
}
.col32_2{
	position:absolute;
	top:754px;
	left:38px;
	background-color:#ddd010;
}
.col32_3{
	position:absolute;
	top:754px;
	left:76px;
	background-color:#d6af12;
	z-index:999;
}
.col32_4{
	position:absolute;
	top:754px;
	left:114px;
	background-color:#e8811d;
}
.col32_5{
	position:absolute;
	top:754px;
	left:152px;
	background-color:#e8781c;
}
.col32_6{
	position:absolute;
	top:754px;
	left:190px;
	background-color:#e04c1a;
}
.col32_7{
	position:absolute;
	top:754px;
	left:228px;
	background-color:#c43521;
}
.col32_8{
	position:absolute;
	top:754px;
	left:266px;
	background-color:#9b322a;
}
.col32_9{
	position:absolute;
	top:754px;
	left:304px;
	background-color:#a7433f;
}
.col32_10{
	position:absolute;
	top:754px;
	left:342px;
	background-color:#692f2d;
}
.col32_11{
	position:absolute;
	top:754px;
	left:380px;
	background-color:#957c22;
}
.col32_12{
	position:absolute;
	top:754px;
	left:418px;
	background-color:#6fb43c;
}
.col32_13{
	position:absolute;
	top:754px;
	left:456px;
	background-color:#6e6925;
}
.col32_14{
	position:absolute;
	top:754px;
	left:494px;
	background-color:#41622f;
}
.col32_15{
	position:absolute;
	top:754px;
	left:532px;
	background-color:#336532;
}
.col32_16{
	position:absolute;
	top:754px;
	left:570px;
	background-color:#3b713f;
}
.col32_17{
	position:absolute;
	top:792px;
	left:0;
	background-color:#2c272d;
}
.col32_18{
	position:absolute;
	top:792px;
	left:38px;
	background-color:#253356;
}
.col32_19{
	position:absolute;
	top:792px;
	left:76px;
	background-color:#3836b4;
}
.col32_20{
	position:absolute;
	top:792px;
	left:114px;
	background-color:#35366f;
}
.col32_21{
	position:absolute;
	top:792px;
	left:152px;
	background-color:#2e3ba0;
}
.col32_22{
	position:absolute;
	top:792px;
	left:190px;
	background-color:#3d72d3;
}
.col32_23{
	position:absolute;
	top:792px;
	left:228px;
	background-color:#a37b2b;
}
.col32_24{
	position:absolute;
	top:792px;
	left:266px;
	background-color:#6f3220;
}
.col32_25{
	position:absolute;
	top:792px;
	left:304px;
	background-color:#743122;
}
.col32_26{
	position:absolute;
	top:792px;
	left:342px;
	background-color:#964025;
}
.col32_27{
	position:absolute;
	top:792px;
	left:380px;
	background-color:#6e3f2a;
}
.col32_28{
	position:absolute;
	top:792px;
	left:418px;
	background-color:#5b3d30;
}
.col32_29{
	position:absolute;
	top:792px;
	left:456px;
	background-color:#382a27;
}
.col32_30{
	position:absolute;
	top:792px;
	left:494px;
	background-color:#2a2522;
}
.col32_31{
	position:absolute;
	top:792px;
	left:532px;
	background-color:#422b83;
}
.col32_32{
	position:absolute;
	top:792px;
	left:570px;
	background-color:#d94d87;
}
.color_12{
	width:608px;
	height:608px;
	padding-top:40px;
	box-sizing:border-box;
	position:absolute;
	top:930px;
	left:592px;
}
.col12_size{
	width:50px;
	height:76px;
}
.col12_size2{
	width:58px;
	height:76px;
}
.color_12_1{
	background-color:rgba(103,43,42,0.3);
}
.color_12_2{
	background-color:rgba(228,81,29,0.3);
}
.color_12_3{
	background-color:rgba(160,119,37,0.3);
}
.color_12_4{
	background-color:rgba(223,204,14,0.3);
}
.color_12_5{
	background-color:rgba(105,175,51,0.3);
}
.color_12_6{
	background-color:rgba(57,114,63,0.3);
}
.color_12_7{
	background-color:rgba(46,59,164,0.3);
}
.color_12_8{
	background-color:rgba(42,58,94,0.3);
}
.color_12_9{
	background-color:rgba(157,72,43,0.3);
}
.color_12_10{
	background-color:rgba(89,61,47,0.3);
}
.color_12_11{
	background-color:rgba(44,43,41,0.3);
}
.color_12_12{
	background-color:rgba(224,224,222,0.3);
}
.col12_1{
	position:absolute;
	top:1462px;
	right:558px;
	background-color:#672b2a;
}
.col12_2{
	position:absolute;
	top:1462px;
	right:508px;
	background-color:#e4511d;
}
.col12_3{
	position:absolute;
	top:1462px;
	right:458px;
	background-color:#a07725;
}
.col12_4{
	position:absolute;
	top:1462px;
	right:408px;
	background-color:#dfcc0e;
}
.col12_5{
	position:absolute;
	top:1462px;
	right:358px;
	background-color:#69af33;
}
.col12_6{
	position:absolute;
	top:1462px;
	right:308px;
	background-color:#39723f;
}
.col12_7{
	position:absolute;
	top:1462px;
	right:258px;
	background-color:#2e3ba4;
}
.col12_8{
	position:absolute;
	top:1462px;
	right:208px;
	background-color:#2a3a5e;
}
.col12_9{
	position:absolute;
	top:1462px;
	right:158px;
	background-color:#9d482b;
}
.col12_10{
	position:absolute;
	top:1462px;
	right:108px;
	background-color:#593d2f;
}
.col12_11{
	position:absolute;
	top:1462px;
	right:58px;
	background-color:#2c2b29;
}
.col12_12{
	position:absolute;
	top:1462px;
	right:0;
	background-color:#e0e0de;
}
.color12_padding{
	padding-top:50px;
}
.color_fint{
	width:608px;
	height:608px;
	padding-top:40px;
	box-sizing:border-box;
	position:absolute;
	top:1637.5px;
	left:0;
}
.coltint_size{
	width:122px;
	height:76px;
}
.coltint_size2{
	width:120px;
	height:76px;
}
.color_fint1{
	background-color:rgba(240,201,128,0.3);
}
.color_fint2{
	background-color:rgba(97,174,202,0.3);
}
.color_fint3{
	background-color:rgba(123,139,214,0.3);
}
.color_fint4{
	background-color:rgba(171,130,200,0.3);
}
.color_fint5{
	background-color:rgba(35,36,31,0.3);
}
.coltint_1{
	position:absolute;
	top:2170px;
	left:0;
	background-color:#f0c980;
}
.coltint_2{
	position:absolute;
	top:2170px;
	left:122px;
	background-color:#61aeca;
}
.coltint_3{
	position:absolute;
	top:2170px;
	left:244px;
	background-color:#7b8bd6;
}
.coltint_4{
	position:absolute;
	top:2170px;
	left:366px;
	background-color:#ab82c8;
}
.coltint_5{
	position:absolute;
	top:2170px;
	left:488px;
	background-color:#23241f;
}
.tint_padding{
	padding-top:100px;
}
.fix{
	position:fixed;
	top:90%;
	left:90%;
}
.popup_back1, .popup_back2{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.7);
	z-index:9999;
}
.popup1{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-160px;
	margin-left:-310px;
}
.popup1{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-160px;
	margin-left:-310px;
}
.popup2{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-235px;
}
.popup32, .popup12{
	cursor:pointer;
}
#footer1_wrap{
	height:400px;
	background-color:#363636;
}
.footer1{
	width:1200px;
	margin:0 auto;
	text-align:center;
}
h2{
	padding:25px 0;
}
#footer1_wrap p{
	color:#dddddd;
}
.foo_fon1{
	font-size:10px;
	font-weight:100;
	line-height:18px;
}
.foo_fon2{
	font-size:18px;
	letter-spacing:-1px;
	padding:30px 0 20px 0;
}
.e-mail{
	width:300px;
	height:30px;
	margin:0 auto 30px;
}
.e-mail li{
	float:left;
}
.e-mail li input{
	width:250px;
	height:30px;
	background-color:#fff;
	border:none;
}
.e-mail li:nth-child(2){
	width:50px;
	height:30px;
}
.icon_box{
	width:220px;
	margin:0 auto;
}
.icon_box li{
	float:left;
	width:25%;
}
.icon_box li:nth-child(1) img{
	padding-top:4px;
}.icon_box li:nth-child(2) img{
	padding-top:2.5px;
}
#footer2_wrap{
	height:100px;
	background-color:#2f2f2f;
}
.footer2{
	width:980px;
	margin:0 auto;
	color:#ddd;
	font-weight:100;
	padding-top:45px;
	box-sizing:border-box;
}
.footer2 ul{
	float:left;
}
.footer2 ul li{
	float:left;
	margin-right:22px;
}
.footer2 p{
	float:right;
}
